img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto; }

/* responsive text align
-----------------------------------------------------------------------------*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.right {
  float: right; }

.left {
  float: left; }

.red {
  color: #fe0b0b; }

/* reset styles
-----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ''; }

input:focus, textarea:focus, a:focus, button:focus, select:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del, s, strike {
  text-decoration: line-through; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  margin: 0; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.container {
  width: 1280px;
  margin: 0 auto; }

a {
  color: #fe0b0b; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  overflow-x: hidden; }
  @media (max-width: 1280px) {
    body {
      overflow-x: visible; } }

.sub-title-main {
  margin-top: 65px;
  margin-left: 163px;
  font-size: 24px;
  color: #d81620;
  position: relative;
  letter-spacing: -0.1px; }
  .sub-title-main:after {
    content: '';
    width: 55px;
    height: 2px;
    background-color: #fe0b0b;
    position: absolute;
    bottom: -16px;
    left: 0; }

.page-body {
  position: relative; }

.header {
  padding: 17px 0 55px; }
  .header .logo {
    text-decoration: none; }
    .header .logo:nth-of-type(1) {
      margin-left: 130px;
      margin-top: -17px;
      position: relative;
      left: 36px; }
    .header .logo:nth-of-type(2) {
      margin-right: 145px;
      margin-top: 20px; }
  .header .menu {
    display: inline-block;
    margin-left: 95px;
    margin-top: 20px; }
    .header .menu ul li {
      display: inline-block; }
      .header .menu ul li:not(:last-child) {
        margin-right: 66px; }
      .header .menu ul li a {
        text-decoration: none;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: -0.5px;
        position: relative;
        transition: 0.2s ease; }
        .header .menu ul li a:before {
          content: '';
          height: 2px;
          width: 47px;
          background-color: #000;
          position: absolute;
          bottom: -5px;
          left: 0; }
        .header .menu ul li a:hover {
          color: #fe0b0b;
          transition: 0.2s ease; }
          .header .menu ul li a:hover:before {
            background-color: #fe0b0b; }

.head-wrap {
  padding-top: 1px;
  background-position: 0 -50px;
  height: 584px;
  position: relative; }

.head-title {
  margin-left: 177px;
  position: absolute; }
  .head-title .title-main {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.4px; }
    .head-title .title-main .red {
      letter-spacing: -1px; }
  .head-title .sub-title {
    margin-top: 20px;
    margin-left: 2px;
    width: 60%;
    letter-spacing: -0.1px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #454545;
    position: relative;
    z-index: 4; }
  .head-title:before {
    content: '';
    width: 476px;
    height: 533px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0; }

.red-line {
  width: 2046px;
  height: 212px;
  background-clip: content-box;
  background: url(../img/red-line-new.png) no-repeat;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50.7%);
  transform: translateX(-50.7%);
  top: 327px;
  z-index: 2; }
  @media (max-width: 1280px) {
    .red-line {
      width: 1280px;
      -webkit-transform: none;
      transform: none;
      left: 0;
      background-position: -397px; } }

.red-line-btns {
  position: relative;
  z-index: 10;
  margin-top: 281px; }
  .red-line-btns .myth .rnd-btn {
    width: 14px;
    height: 14px;
    background-color: #fc0f1a;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    transition: 0.2s ease; }
    .red-line-btns .myth .rnd-btn:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      -webkit-animation: pulsejg1 2s linear infinite;
      animation: pulsejg1 2s linear infinite;
      border-radius: 999px;
      box-shadow: inset 0 0 0 2px rgba(252, 15, 26, 0.6);
      left: -18px;
      top: -18px; }
    .red-line-btns .myth .rnd-btn:hover {
      -webkit-transform: scale(2.8);
      transform: scale(2.8);
      transition: -webkit-transform 0.1s ease;
      transition: transform 0.1s ease;
      transition: transform 0.1s ease, -webkit-transform 0.1s ease;
      box-shadow: 0 0 0 3px #f8b3b5; }
      .red-line-btns .myth .rnd-btn:hover:after {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-animation: pulsejg4 2s linear infinite;
        animation: pulsejg4 2s linear infinite;
        box-shadow: inset 0 0 0 2px rgba(252, 15, 26, 0.6); }
      .red-line-btns .myth .rnd-btn:hover:before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #ee4e51;
        border-radius: 50%;
        position: absolute;
        -webkit-transform: scale(0.5) translate(-36%, -36%);
        transform: scale(0.5) translate(-36%, -36%); }
    .red-line-btns .myth .rnd-btn.visited:hover:after {
      width: 12px;
      height: 12px; }
  .red-line-btns .myth .title-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #fc0f1a;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 9px;
    position: relative; }
  .red-line-btns .myth .myth-disc {
    font-size: 16px;
    color: #000;
    line-height: 14px;
    display: block;
    font-family: 'Open Sans', sans-serif; }
  .red-line-btns .myth:nth-of-type(1) {
    position: absolute;
    top: 190px;
    left: 164px; }
    .red-line-btns .myth:nth-of-type(1) .rnd-btn {
      top: -52px;
      left: 10px; }
  .red-line-btns .myth:nth-of-type(2) {
    position: absolute;
    top: 85px;
    left: 447px; }
    .red-line-btns .myth:nth-of-type(2) .rnd-btn {
      top: 20px;
      left: -65px; }
  .red-line-btns .myth:nth-of-type(3) {
    position: absolute;
    top: 285px;
    left: 550px; }
    .red-line-btns .myth:nth-of-type(3) .rnd-btn {
      top: -38px;
      left: 20px; }
  .red-line-btns .myth:nth-of-type(4) {
    position: absolute;
    top: 99px;
    left: 757px; }
    .red-line-btns .myth:nth-of-type(4) .rnd-btn {
      top: -57px;
      left: 42px; }
  .red-line-btns .myth:nth-of-type(5) {
    position: absolute;
    top: 273px;
    right: 105px; }
    .red-line-btns .myth:nth-of-type(5) .rnd-btn {
      top: -40px;
      left: 30px; }
  .red-line-btns .myth.visited .rnd-btn {
    background-color: #fff;
    -webkit-transform: scale(2.8);
    transform: scale(2.8);
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    box-shadow: 0 0 0 3px #ec1c24; }
    .red-line-btns .myth.visited .rnd-btn:before {
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid #ee4e51;
      border-radius: 50%;
      position: absolute;
      -webkit-transform: scale(0.5) translate(-36%, -36%);
      transform: scale(0.5) translate(-36%, -36%); }
    .red-line-btns .myth.visited .rnd-btn:after {
      content: '';
      width: 6px;
      height: 6px;
      box-sizing: border-box;
      background-color: #ed2631;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      -webkit-animation: 0;
      animation: 0; }

@-webkit-keyframes pulsejg1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.25; }
  80% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0; } }

@keyframes pulsejg1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.25; }
  80% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0; } }

.myths {
  margin-top: 57px; }
  .myths .myth-section {
    padding: 0 168px;
    position: relative; }
    .myths .myth-section .title-myth {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 204px;
      color: #ffccce;
      display: inline-block;
      position: relative;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
      transition: 0.4s ease; }
      .myths .myth-section .title-myth:hover {
        opacity: 0.7 !important;
        transition: 0.4s ease; }
      .myths .myth-section .title-myth:after {
        content: '';
        width: 55px;
        height: 3px;
        background-color: #fe0b0b;
        position: absolute;
        top: -12px;
        right: 40px; }
      .myths .myth-section .title-myth span {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 41px;
        text-transform: uppercase;
        display: block;
        line-height: 0;
        text-align: right;
        position: relative;
        top: 23px;
        left: -42px; }
    .myths .myth-section .sub-title-myth {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 25px;
      color: #000;
      text-transform: uppercase;
      position: relative;
      top: -35px;
      left: 13px;
      z-index: 2;
      opacity: 1; }
    .myths .myth-section:nth-of-type(1) .image-myth-zoom {
      position: absolute;
      top: -1px;
      left: 427px; }
    .myths .myth-section:nth-of-type(1) .sub-title-myth {
      width: 245px; }
    .myths .myth-section:nth-of-type(1) .right-image {
      position: absolute;
      right: 153px;
      top: -121px;
      z-index: 0; }
      .myths .myth-section:nth-of-type(1) .right-image img {
        transition: 0.2s ease; }
    .myths .myth-section:nth-of-type(1) .show-true {
      position: relative;
      top: -22px;
      left: 13px; }
    .myths .myth-section:nth-of-type(1) .title-myth:after {
      right: 13px; }
    .myths .myth-section:nth-of-type(2) {
      margin-top: 18px; }
      .myths .myth-section:nth-of-type(2) .title-myth {
        margin-left: 30px; }
        .myths .myth-section:nth-of-type(2) .title-myth:after {
          right: 19px; }
        .myths .myth-section:nth-of-type(2) .title-myth span {
          left: -18px; }
      .myths .myth-section:nth-of-type(2) .right-image {
        position: absolute;
        top: 29px;
        right: 23px;
        z-index: 0; }
        .myths .myth-section:nth-of-type(2) .right-image img {
          transition: 0.2s ease; }
        .myths .myth-section:nth-of-type(2) .right-image:hover img {
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
          transition: 0.2s ease; }
      .myths .myth-section:nth-of-type(2) .sub-title-myth {
        display: inline-block;
        position: relative;
        top: 30px;
        left: 19px;
        letter-spacing: -0.2px;
        text-align: right; }
      .myths .myth-section:nth-of-type(2) .show-true {
        position: relative;
        top: 12px;
        right: -239px; }
    .myths .myth-section:nth-of-type(3) {
      margin-top: 54px; }
      .myths .myth-section:nth-of-type(3) .title-myth {
        margin-left: 8px; }
        .myths .myth-section:nth-of-type(3) .title-myth:after {
          right: 19px; }
        .myths .myth-section:nth-of-type(3) .title-myth span {
          left: -18px; }
      .myths .myth-section:nth-of-type(3) .sub-title-myth {
        display: inline-block;
        position: relative;
        text-align: left;
        top: -28px;
        left: 10px; }
      .myths .myth-section:nth-of-type(3) .show-true {
        position: relative;
        top: 14px;
        right: 0px; }
      .myths .myth-section:nth-of-type(3) .right-image {
        position: absolute;
        top: -36px;
        right: 179px;
        z-index: 0; }
        .myths .myth-section:nth-of-type(3) .right-image img {
          transition: 0.2s ease; }
    .myths .myth-section:nth-of-type(4) {
      margin-top: 43px; }
      .myths .myth-section:nth-of-type(4) .left-image {
        position: absolute;
        top: 0;
        left: 0; }
        .myths .myth-section:nth-of-type(4) .left-image img {
          transition: 0.2s ease; }
        .myths .myth-section:nth-of-type(4) .left-image:hover img {
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
          transition: 0.2s ease; }
      .myths .myth-section:nth-of-type(4) .title-myth {
        margin-left: 240px; }
        .myths .myth-section:nth-of-type(4) .title-myth:after {
          right: 19px;
          top: -10px; }
        .myths .myth-section:nth-of-type(4) .title-myth span {
          left: -18px; }
      .myths .myth-section:nth-of-type(4) .sub-title-myth {
        display: inline-block;
        position: relative;
        text-align: left;
        top: -33px;
        left: 24px; }
      .myths .myth-section:nth-of-type(4) .show-true {
        position: relative;
        top: 14px;
        right: 0px; }
    .myths .myth-section:nth-of-type(5) {
      margin-top: 47px; }
      .myths .myth-section:nth-of-type(5) .title-myth {
        margin-left: 6px;
        position: relative;
        top: -109px; }
        .myths .myth-section:nth-of-type(5) .title-myth:after {
          right: 19px; }
        .myths .myth-section:nth-of-type(5) .title-myth span {
          left: -18px; }
      .myths .myth-section:nth-of-type(5) .sub-title-myth {
        display: inline-block;
        position: relative;
        text-align: left;
        top: -143px;
        left: 5px; }
      .myths .myth-section:nth-of-type(5) .show-true {
        position: relative;
        top: 14px;
        right: 0px; }
      .myths .myth-section:nth-of-type(5) .image-myth-zoom {
        top: -116px;
        left: 5px; }
    .myths .myth-section.animate-start:nth-of-type(2):after, .myths .myth-section.animate-start:nth-of-type(4):after {
      opacity: 1;
      -webkit-transition: 2.5s ease-out;
      -webkit-transition-delay: 1s;
      -o-transition: 2.5s ease-out;
      -o-transition-delay: 1s;
      -moz-transition: 2.5s ease-out;
      -moz-transition-delay: 1s;
      transition: 2.5s ease-out;
      transition-delay: 1s; }
  .myths .image-myth-zoom {
    display: inline-block;
    box-sizing: border-box;
    width: 409px;
    height: 276px;
    position: relative;
    z-index: 1; }
    .myths .image-myth-zoom img {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      cursor: pointer;
      transition: 0.2s ease; }

.show-true {
  display: block;
  text-decoration: none;
  color: #000;
  border: 1px solid #fe0b0b;
  width: 155px;
  height: 30px;
  font-size: 13px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  padding-top: 7px;
  letter-spacing: 1.3px;
  transition: 0.2s ease; }
  .show-true:hover {
    color: #fff;
    background-color: #fe0b0b;
    transition: 0.2s ease; }
  .show-true.active {
    color: #fff;
    background-color: #fe0b0b;
    transition: 0.7s ease; }

.game {
  margin-top: -79px; }
  .game .game-title {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0 179px;
    margin-bottom: 33px;
    text-transform: uppercase; }
    .game .game-title span {
      color: #fe0b0b;
      display: block; }
  .game .game-form {
    background: url(../img/game-bg.jpg) no-repeat -10px 0;
    width: 923px;
    height: 456px;
    margin: 0 auto;
    padding-top: 91px; }
    .game .game-form .form-title {
      font-size: 43px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #fe0b0b;
      text-align: center;
      letter-spacing: 9px;
      position: relative;
      text-transform: uppercase; }
      .game .game-form .form-title:after {
        content: '';
        display: block;
        width: 116px;
        height: 2px;
        background-color: #fe0b0b;
        margin: 24px auto 18px;
        -webkit-transform: translateX(-32px);
        transform: translateX(-32px); }
    .game .game-form .form-label {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 21px;
      color: #191919;
      margin: 0 auto;
      text-align: center;
      position: relative;
      left: -32px;
      letter-spacing: -1px;
      margin-bottom: 16px; }
    .game .game-form .email-form {
      margin: 0 auto;
      width: 65%;
      text-align: center;
      position: relative; }
      .game .game-form .email-form label.error {
        position: absolute;
        top: 46px;
        left: -48px;
        right: 0;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: #fe0b0b; }
      .game .game-form .email-form .email-input {
        display: block;
        margin: 0 auto 16px;
        width: 355px;
        height: 46px;
        border: 1px solid #dedede;
        font-size: 21px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #000;
        padding-left: 10px;
        box-sizing: border-box;
        position: relative;
        left: -30px;
        letter-spacing: 2px;
        /* Firefox 19+ */
        /* Firefox 18- */ }
        .game .game-form .email-form .email-input::-webkit-input-placeholder {
          color: #adadad; }
        .game .game-form .email-form .email-input::-moz-placeholder {
          color: #adadad; }
        .game .game-form .email-form .email-input:-moz-placeholder {
          color: #adadad; }
        .game .game-form .email-form .email-input:-ms-input-placeholder {
          color: #adadad; }
      .game .game-form .email-form button {
        display: block;
        margin: 0 auto;
        width: 307px;
        height: 47px;
        background-color: #fe0b0b;
        border: none;
        color: #fff;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        cursor: pointer;
        position: relative;
        left: -29px;
        letter-spacing: 1.3px; }
  .game input.checkbox {
    opacity: 0;
    position: relative;
    left: -12px;
    top: 7px;
    cursor: pointer;
    z-index: 10;
    height: 28px;
    width: 28px; }
  .game input.checkbox ~ div {
    background: #fff;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 129px;
    left: 21px; }
  .game input.checkbox:checked ~ div:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #e32529;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .game .checkbox-text {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 29px;
    display: inline-block; }
    .game .checkbox-text a {
      color: #fe0b0b; }
      .game .checkbox-text a:hover {
        text-decoration: none; }
  .game #checkbox-error {
    top: 115px; }

.productions {
  margin-bottom: 50px; }
  .productions .productions-title {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0 179px;
    margin-bottom: 33px;
    z-index: 4;
    position: relative; }
    .productions .productions-title span {
      color: #fe0b0b;
      display: block; }
    .productions .productions-title b {
      font-size: 20px;
      font-weight: 200;
      position: relative;
      top: -27px;
      color: #cacaca; }
  .productions .items {
    padding: 0 139px; }
    .productions .items .item {
      float: left;
      width: 33%;
      text-align: center;
      color: #000;
      text-decoration: none; }
      .productions .items .item .img-wrap {
        height: 270px; }
      .productions .items .item .item-name {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-weight: 400;
        font-size: 21px;
        text-transform: uppercase;
        margin-bottom: 25px; }
      .productions .items .item .item-disc {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 15px;
        padding: 0 15px;
        color: #444444; }
      .productions .items .item img {
        margin-bottom: 12px;
        transition: 0.2s ease;
        -webkit-transform: scale(0.95);
        transform: scale(0.95); }
        .productions .items .item img:hover {
          -webkit-transform: scale(1);
          transform: scale(1);
          transition: 0.2s ease; }
      .productions .items .item:nth-of-type(1) img {
        position: relative;
        top: -2px;
        left: 3px;
        margin-bottom: 25px; }
      .productions .items .item:nth-of-type(2) img {
        position: relative;
        top: -16px;
        left: 17px; }
      .productions .items .item:nth-of-type(2) .item-name {
        position: relative; }
      .productions .items .item:nth-of-type(3) .img-wrap img {
        height: 260px;
        max-width: none;
        width: auto; }
      .productions .items .item:nth-of-type(3) img {
        position: relative;
        top: -10px;
        left: -1px; }
      .productions .items .item:nth-of-type(3) .item-name {
        position: relative;
        top: 1px;
        left: 2px; }

.pop-ups .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  display: none;
  z-index: 19;
  top: 0; }

.pop-ups .pop-up {
  position: absolute;
  width: 1390px;
  min-height: 1039px;
  background: url(../img/pop-up-bg.png) no-repeat center;
  background-size: 83%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;
  display: none; }
  .pop-ups .pop-up .close-pop {
    width: 51px;
    height: 52px;
    position: absolute;
    right: 20.7%;
    top: 151px;
    background: url(../img/close-pop.png) no-repeat;
    transition: 0.2s ease; }
    .pop-ups .pop-up .close-pop:hover {
      opacity: 0.5;
      transition: 0.2s ease; }
  .pop-ups .pop-up .pop-up-body {
    display: none;
    width: 500px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 4px;
    position: relative; }
    .pop-ups .pop-up .pop-up-body .social-btns {
      position: relative;
      top: -2px; }
      .pop-ups .pop-up .pop-up-body .social-btns:before {
        content: '';
        width: 53px;
        height: 2px;
        background-color: #fe0b0b;
        position: absolute;
        top: -10px;
        left: 0; }
      .pop-ups .pop-up .pop-up-body .social-btns h3 {
        font-size: 14px;
        letter-spacing: -0.1px; }
      .pop-ups .pop-up .pop-up-body .social-btns a {
        display: inline-block;
        height: 31px;
        width: 30px;
        margin-top: 12px;
        margin-right: 3px;
        margin-bottom: 13px;
        transition: .2s ease; }
        .pop-ups .pop-up .pop-up-body .social-btns a.fb {
          background: url(../img/soc-icons.png) no-repeat;
          background-position: 0 0; }
        .pop-ups .pop-up .pop-up-body .social-btns a.ok {
          background: url(../img/soc-icons.png) no-repeat;
          background-position: -30px 0; }
        .pop-ups .pop-up .pop-up-body .social-btns a.vk {
          background: url(../img/soc-icons.png) no-repeat;
          background-position: -60px 0; }
        .pop-ups .pop-up .pop-up-body .social-btns a:hover {
          opacity: 0.6;
          transition: .2s ease; }
    .pop-ups .pop-up .pop-up-body .title-myth {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 181px;
      color: #ffccce;
      display: inline-block;
      position: absolute;
      right: -75px;
      z-index: 1;
      top: -48px; }
      .pop-ups .pop-up .pop-up-body .title-myth:after {
        content: '';
        width: 49px;
        height: 3px;
        background-color: #fe0b0b;
        position: absolute;
        top: -12px;
        right: 11px; }
      .pop-ups .pop-up .pop-up-body .title-myth span {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 38px;
        text-transform: uppercase;
        display: block;
        line-height: 0;
        text-align: right;
        position: relative;
        top: 23px;
        left: -8px; }
    .pop-ups .pop-up .pop-up-body .pop-up-title {
      font-size: 35px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-top: 195px;
      margin-bottom: 24px;
      text-transform: uppercase;
      position: relative;
      z-index: 10; }
    .pop-ups .pop-up .pop-up-body .pop-up-section {
      font-size: 16px;
      color: #191919;
      margin-bottom: 20px;
      margin-bottom: 29px;
      position: relative;
      z-index: 10;
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
      .pop-ups .pop-up .pop-up-body .pop-up-section .title-section {
        color: #fe0b0b;
        font-size: 24px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 14px; }
      .pop-ups .pop-up .pop-up-body .pop-up-section.small-font {
        font-size: 14px; }
      .pop-ups .pop-up .pop-up-body .pop-up-section.links-text {
        border-top: 1px solid #BDBBBB;
        color: #BDBBBB;
        font-size: 14px; }
    .pop-ups .pop-up .pop-up-body.myth-4 .pop-up-title {
      font-size: 30px;
      margin-top: 160px; }

.myth-3 .links-text {
  white-space: nowrap; }

.myth-4 .pop-up-title {
  font-size: 30px;
  margin-top: 160px; }

.scroll-down {
  position: fixed;
  width: 38px;
  height: 39px;
  background: url(../img/down-btn.png) no-repeat;
  left: 0;
  right: 0;
  bottom: 32px;
  margin: 0 auto;
  z-index: 19;
  transition: 0.2s ease; }
  .scroll-down::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: pulsejg2 4s linear infinite;
    animation: pulsejg2 4s linear infinite;
    border-radius: 99%;
    box-shadow: inset 0 0 0 1px #fc0f1a; }
  .scroll-down::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: pulsejg3 4s linear infinite;
    animation: pulsejg3 4s linear infinite;
    border-radius: 99%;
    box-shadow: inset 0 0 0 1px #fc0f1a; }
  .scroll-down.back {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    transition: 0.2s ease; }

@-webkit-keyframes pulsejg2 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.4; }
  80% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0; } }

@keyframes pulsejg2 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.4; }
  80% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0; } }

@-webkit-keyframes pulsejg3 {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 0; }
  40% {
    -webkit-transform: scale(0.8);
    opacity: 0.05; }
  50% {
    -webkit-transform: scale(1);
    opacity: 0.1; }
  60% {
    -webkit-transform: scale(1.1);
    opacity: 0.3; }
  80% {
    -webkit-transform: scale(1.2);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(1.3);
    opacity: 0; } }

@keyframes pulsejg3 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.05; }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.1; }
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.3; }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0; } }

@-webkit-keyframes pulsejg4 {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0; }
  40% {
    -webkit-transform: scale(0.3);
    opacity: 0.05; }
  50% {
    -webkit-transform: scale(0.4);
    opacity: 0.1; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.3; }
  80% {
    -webkit-transform: scale(0.8);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes pulsejg4 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; }
  40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.05; }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.1; }
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.3; }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0; } }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

footer {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-weight: 300;
  width: 100%; }
  footer ul {
    text-align: left;
    list-style-type: none; }

.child {
  background: url(../img/child.png) no-repeat;
  position: absolute;
  top: -93px;
  right: 17px;
  width: 556px;
  height: 551px;
  z-index: 1; }

.test-line {
  top: 335px;
  width: 2766px;
  height: 250px;
  background-clip: content-box;
  background: url(../img/infinite-test.png) repeat-x -228px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  transform: translateX(-35%);
  z-index: 1; }
  @media (max-width: 1280px) {
    .test-line {
      width: 1280px;
      left: 0;
      -webkit-transform: none;
      transform: none; } }

@keyframes mymove {
  0% {
    background-position: -26%;
    opacity: 1; }
  99.9999% {
    background-position: 247.7%;
    opacity: 1; }
  100% {
    background-position: -26%;
    opacity: 0; } }

@-webkit-keyframes mymove {
  0% {
    background-position: -26%;
    opacity: 1; }
  99.9999% {
    background-position: 247.7%;
    opacity: 1; }
  100% {
    background-position: -26%;
    opacity: 0; } }

@media (max-width: 1280px) {
  @keyframes mymove {
    0% {
      background-position: -26%;
      opacity: 1; }
    99.9999% {
      background-position: 115.9%;
      opacity: 1; }
    100% {
      background-position: -26%;
      opacity: 0; } }
  @-webkit-keyframes mymove {
    0% {
      background-position: -26%;
      opacity: 1; }
    99.9999% {
      background-position: 115.9%;
      opacity: 1; }
    100% {
      background-position: -26%;
      opacity: 0; } } }

.line-wrap {
  position: relative; }

.footer-line {
  top: 182px;
  width: 2766px;
  height: 280px;
  background-clip: content-box;
  background: url(../img/infinite-test.png) repeat-x;
  position: absolute;
  left: 0;
  background-position: -538px 0; }
  @media (max-width: 1280px) {
    .footer-line {
      width: 1280px;
      left: 0;
      -webkit-transform: none;
      transform: none; } }

.footer-hint {
  margin-top: 30px;
  width: 100%;
  padding: 13px 0;
  text-transform: uppercase;
  font-size: 20px; }
  .footer-hint .wrap {
    width: 1280px;
    margin: 0 auto; }

.email-pop {
  border: 10px solid #e32529;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 550px;
  height: 370px;
  background: #fff;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-weight: 400;
  padding: 9% 0;
  box-sizing: border-box;
  display: none; }
  .email-pop span {
    color: #e32529;
    display: block; }

/*# sourceMappingURL=style.css.map */
