.container {
    width: 1280px;
    margin: 0 auto;
}

a {
    color: #fe0b0b;
}

body {
    @include proximareg();
    overflow-x: hidden;

    @media (max-width: 1280px) {
        overflow-x: visible;
    }
}

.sub-title-main{
    margin-top: 65px;
    margin-left: 163px;
    font-size: 24px;
    color: #d81620;
    position: relative;
    letter-spacing: -0.1px;

    &:after {
        content: '';
        width: 55px;
        height: 2px;
        background-color: $red;
        @include position(absolute, null null -16px 0);
    }
}

.page-body{
        position: relative;
}

.header {
    padding: 17px 0 55px;

    .logo {
        text-decoration: none;

        &:nth-of-type(1) {
            margin-left: 130px;
            margin-top: -17px;
            position: relative;
            left: 36px;
        }

        &:nth-of-type(2) {
            margin-right: 145px;
            margin-top: 20px;
        }
    }

    .menu {
        display: inline-block;
        margin-left: 95px;
        margin-top: 20px;

        ul {
            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 66px;
                }

                a {
                    text-decoration: none;
                    color: #000;
                    @include proximareg();
                    font-size: 13px;
                    text-transform: uppercase;
                    letter-spacing: -0.5px;
                    position: relative;
                    transition: 0.2s ease;

                    &:before {
                        content: '';
                        height: 2px;
                        width: 47px;
                        background-color: #000;
                        @include position(absolute, null null -5px 0);
                    }

                    &:hover {
                        color: $red;
                        transition: 0.2s ease;

                        &:before {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }
}
//TITLE
.head-wrap {
    padding-top: 1px;
    // background: url(../img/child-header.jpg) no-repeat;
    background-position: 0 -50px;
    height: 584px;
    position: relative;
}

.head-title {
    // margin-top: 21px;
    margin-left: 177px;
    position: absolute;

    .title-main {
        @include proximalight();
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -0.4px;

        .red {
            letter-spacing: -1px;
        }
    }

    .sub-title {
        margin-top: 20px;
        margin-left: 2px;
        width: 60%;
        letter-spacing: -0.1px;
        line-height: 19px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: #454545;
        position: relative;
        z-index: 4;
    }

    &:before {
        content: '';
        width: 476px;
        height: 533px;
        @include position(absolute, 0 0 null null);
        z-index: 0;
    }
}
// .red-line {
//   // display: none;
//   width: 1280px;
//   height: 212px;
//   background-clip: content-box;
//   background: url('../img/wave-red.png')no-repeat center center;
//   position: absolute;
//   left: 0;
//   top: 329px;
//   z-index: 1;
// }
.red-line {
    // display: none;
    width: 2046px;
    height: 212px;
    background-clip: content-box;
    background: url(../img/red-line-new.png) no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50.7%);
    top: 327px;
    z-index: 2;

    @media (max-width: 1280px) {
        width: 1280px;
        transform: none;
        left: 0;
        background-position: -397px;
    }
}

.red-line-btns {
    position: relative;
    z-index: 10;
    margin-top: 281px;

    .myth {
        .rnd-btn {
            width: 14px;
            height: 14px;
            background-color: #fc0f1a;
            border-radius: 50%;
            @include position(absolute, 0 null null 0);
            display: inline-block;
            transition: 0.2s ease;

            &:after {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                box-sizing: border-box;
                -webkit-animation: pulsejg1 2s linear infinite;
                -moz-animation: pulsejg1 2s linear infinite;
                animation: pulsejg1 2s linear infinite;
                border-radius: 999px;
                box-shadow: inset 0 0 0 2px rgba(252, 15, 26, .6);
                left: -18px;
                top: -18px;
            }

            &:hover {
                transform: scale(2.8);
                transition: transform 0.1s ease;
                box-shadow: 0 0 0 3px rgba(248, 179, 181, 1);

                &:after {
                    // animation: 0;
                    transform: scale(0.5);
                    -webkit-animation: pulsejg4 2s linear infinite;
                    -moz-animation: pulsejg4 2s linear infinite;
                    animation: pulsejg4 2s linear infinite;
                    box-shadow: inset 0 0 0 2px rgba(252, 15, 26, .6);
                    // box-shadow: inset 0 0 0 1px rgba(252, 15, 26, 1);
                }

                &:before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border: 1px solid #ee4e51;
                    border-radius: 50%;
                    position: absolute;
                    transform: scale(0.5) translate(-36%, -36%);
                }
            }

            &.visited {
                &:hover {
                    &:after {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }

        .title-link {
            @include proximabold();
            font-size: 21px;
            color: #fc0f1a;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            margin-bottom: 9px;
            position: relative;
        }

        .myth-disc {
            font-size: 16px;
            color: #000;
            line-height: 14px;
            display: block;
            font-family: 'Open Sans', sans-serif;
        }

        &:nth-of-type(1) {
            @include position(absolute, 190px null null 164px);

            .rnd-btn {
                top: -52px;
                left: 10px;
            }
        }

        &:nth-of-type(2) {
            @include position(absolute, 85px null null 447px);

            .rnd-btn {
                top: 20px;
                left: -65px;
            }
        }

        &:nth-of-type(3) {
            @include position(absolute, 285px null null 550px);

            .rnd-btn {
                top: -38px;
                left: 20px;
            }
        }

        &:nth-of-type(4) {
            @include position(absolute, 99px null null 757px);

            .rnd-btn {
                top: -57px;
                left: 42px;
            }
        }

        &:nth-of-type(5) {
            @include position(absolute, 273px 105px null null);

            .rnd-btn {
                // top: -56px;
                // left: 67px;
                top: -40px;
                left: 30px;
            }
        }

        &.visited {
            .rnd-btn {
                background-color: #fff;
                transform: scale(2.8);
                transition: transform 0.2s ease;
                box-shadow: 0 0 0 3px rgba(236, 28, 36, 1);

                &:before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border: 1px solid #ee4e51;
                    border-radius: 50%;
                    position: absolute;
                    transform: scale(0.5) translate(-36%, -36%);
                }

                &:after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    box-sizing: border-box;
                    background-color: #ed2631;
                    position: absolute;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                    animation: 0;
                }
            }
        }
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: 0.1;
    }

    70% {
        transform: scale(1.5);
        opacity: 0.25;
    }

    80% {
        transform: scale(2);
        opacity: 0.1;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: 0.1;
    }

    70% {
        transform: scale(1.5);
        opacity: 0.25;
    }

    80% {
        transform: scale(2);
        opacity: 0.1;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

@-ms-keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: 0.1;
    }

    70% {
        transform: scale(1.5);
        opacity: 0.25;
    }

    80% {
        transform: scale(2);
        opacity: 0.1;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}
//Myths Sections
//Myth1
.myths {
    margin-top: 57px;

    .myth-section {
        padding: 0 168px;
        position: relative;

        .title-myth {
            @include proximabold();
            font-size: 204px;
            color: #ffccce;
            display: inline-block;
            position: relative;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
            transition: 0.4s ease;

            &:hover {
                opacity: 0.7 !important;
                transition: 0.4s ease;
            }

            &:after {
                content: '';
                width: 55px;
                height: 3px;
                background-color: $red;
                @include position(absolute, -12px 40px null null);
            }

            span {
                @include proximalight();
                font-size: 41px;
                text-transform: uppercase;
                display: block;
                line-height: 0;
                text-align: right;
                @include position(relative, 23px null null -42px);
            }
        }

        .sub-title-myth {
            @include proximalight();
            font-size: 25px;
            color: #000;
            text-transform: uppercase;
            position: relative;
            top: -35px;
            left: 13px;
            z-index: 2;
            opacity: 1;
        }

        &:nth-of-type(1) {
            // &:after {
            //   content: '';
            //   position: absolute;
            //   top: -117px;
            //   right: 150px;
            //   width: 318px;
            //   height: 621px;
            //   background: url(../img/section-obj-1.jpg) no-repeat;
            // }
            .image-myth-zoom {
                // margin-left: -5px;
                position: absolute;
                top: -1px;
                left: 427px;
            }

            .sub-title-myth {
                width: 245px;
            }

            .right-image {
                position: absolute;
                right: 153px;
                top: -121px;
                z-index: 0;

                img {
                    transition: 0.2s ease;
                }
                // &:hover {
                //   img {
                //     transform: scale(1.1);
                //     transition: 0.2s ease;
                //   }
                // }
            }
        }

        &:nth-of-type(1) {
            .show-true {
                @include position(relative, -22px null null 13px);
            }

            .title-myth {
                // margin-left: 8px;
                &:after {
                    right: 13px;
                }
            }
        }

        &:nth-of-type(2) {
            margin-top: 18px;
            // &:after {
            //   content: '';
            //   position: absolute;
            //   top: 24px;
            //   right: 24px;
            //   width: 213px;
            //   height: 199px;
            //   background: url(../img/section-obj-2.png) no-repeat;
            //   opacity: 0;
            // }
            .title-myth {
                margin-left: 30px;

                &:after {
                    right: 19px;
                }

                span {
                    left: -18px;
                }
            }

            .right-image {
                position: absolute;
                top: 29px;
                right: 23px;
                z-index: 0;

                img {
                    transition: 0.2s ease;
                }

                &:hover {
                    img {
                        transform: scale(1.05);
                        transition: 0.2s ease;
                    }
                }
            }

            .sub-title-myth {
                display: inline-block;
                position: relative;
                top: 30px;
                left: 19px;
                letter-spacing: -0.2px;
                text-align: right;
            }

            .show-true {
                @include position(relative, 12px -239px null null);
            }
        }

        &:nth-of-type(3) {
            margin-top: 54px;
            // &:after {
            //   content: '';
            //   position: absolute;
            //   top: -84px;
            //   right: 74px;
            //   width: 538px;
            //   height: 387px;
            //   background: url(../img/section-obj-3.jpg) no-repeat;
            //   z-index: -1;
            // }
            .title-myth {
                margin-left: 8px;

                &:after {
                    right: 19px;
                }

                span {
                    left: -18px;
                }
            }

            .sub-title-myth {
                display: inline-block;
                position: relative;
                text-align: left;
                top: -28px;
                left: 10px;
            }

            .show-true {
                @include position(relative, 14px 0px null null);
            }

            .right-image {
                position: absolute;
                top: -36px;
                right: 179px;
                z-index: 0;

                img {
                    transition: 0.2s ease;
                }
                // &:hover {
                //   img {
                //     transform: scale(1.1);
                //     transition: 0.2s ease;
                //   }
                // }
            }
        }

        &:nth-of-type(4) {
            margin-top: 43px;
            // &:after {
            //   content: '';
            //   position: absolute;
            //   top: -70px;
            //   left: 54px;
            //   width: 292px;
            //   height: 292px;
            //   background: url(../img/section-obj-4.jpg) no-repeat;
            //   opacity: 0;
            // }
            .left-image {
                position: absolute;
                top: 0;
                left: 0;

                img {
                    transition: 0.2s ease;
                }

                &:hover {
                    img {
                        transform: scale(1.05);
                        transition: 0.2s ease;
                    }
                }
            }

            .title-myth {
                margin-left: 240px;

                &:after {
                    right: 19px;
                    top: -10px;
                }

                span {
                    left: -18px;
                }
            }

            .sub-title-myth {
                display: inline-block;
                position: relative;
                text-align: left;
                top: -33px;
                left: 24px;
            }

            .show-true {
                @include position(relative, 14px 0px null null);
            }
        }

        &:nth-of-type(5) {
            margin-top: 47px;

            .title-myth {
                margin-left: 6px;
                position: relative;
                top: -109px;

                &:after {
                    right: 19px;
                }

                span {
                    left: -18px;
                }
            }

            .sub-title-myth {
                display: inline-block;
                position: relative;
                text-align: left;
                top: -143px;
                left: 5px;
                // margin-right: 26px;
            }

            .show-true {
                @include position(relative, 14px 0px null null);
            }

            .image-myth-zoom {
                top: -116px;
                left: 5px;
            }
        }

        &.animate-start {
            &:nth-of-type(2),
            &:nth-of-type(4) {
                &:after {
                    opacity: 1;
                    -webkit-transition: 2.5s ease-out;
                    -webkit-transition-delay: 1s;
                    -o-transition: 2.5s ease-out;
                    -o-transition-delay: 1s;
                    -moz-transition: 2.5s ease-out;
                    -moz-transition-delay: 1s;
                    transition: 2.5s ease-out;
                    transition-delay: 1s;
                }
            }
        }
    }

    .image-myth-zoom {
        display: inline-block;
        box-sizing: border-box;
        width: 409px;
        height: 276px;
        position: relative;
        z-index: 1;

        img {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
            cursor: pointer;
            transition: 0.2s ease;
        }
        // &:hover {
        //   img {
        //     transform: scale(1.1);
        //     transition: 0.2s ease;
        //   }
        // }
    }
}

.show-true {
    display: block;
    text-decoration: none;
    color: #000;
    border: 1px solid $red;
    width: 155px;
    height: 30px;
    font-size: 13px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    padding-top: 7px;
    letter-spacing: 1.3px;
    transition: 0.2s ease;

    &:hover {
        color: #fff;
        background-color: $red;
        transition: 0.2s ease;
    }

    &.active {
        color: #fff;
        background-color: $red;
        transition: 0.7s ease;
    }
}
// skin game
.game {
    margin-top: -79px;

    .game-title {
        font-size: 50px;
        @include proximalight();
        padding: 0 179px;
        margin-bottom: 33px;
        text-transform: uppercase;

        span {
            color: $red;
            display: block;
        }
    }

    .game-form {
        background: url(../img/game-bg.jpg) no-repeat -10px 0;
        width: 923px;
        height: 456px;
        margin: 0 auto;
        padding-top: 91px;

        .form-title {
            font-size: 43px;
            @include proximalight();
            color: $red;
            text-align: center;
            letter-spacing: 9px;
            position: relative;
            text-transform: uppercase;
            // left: -22px;
            &:after {
                content: '';
                display: block;
                width: 116px;
                height: 2px;
                background-color: $red;
                margin: 24px auto 18px;
                transform: translateX(-32px);
            }
        }

        .form-label {
            @include proximareg();
            font-size: 21px;
            color: #191919;
            margin: 0 auto;
            text-align: center;
            position: relative;
            left: -32px;
            letter-spacing: -1px;
            margin-bottom: 16px;
        }

        .email-form {
            margin: 0 auto;
            width: 65%;
            text-align: center;
            position: relative;

            label.error {
                position: absolute;
                top: 46px;
                left: -48px;
                right: 0;
                margin: auto;
                @include proximalight();
                font-size: 12px;
                color: $red;
            }

            .email-input {
                display: block;
                margin: 0 auto 16px;
                width: 355px;
                height: 46px;
                border: 1px solid #dedede;
                font-size: 21px;
                @include proximalight();
                color: #000;
                padding-left: 10px;
                box-sizing: border-box;
                position: relative;
                left: -30px;
                letter-spacing: 2px;

                &::-webkit-input-placeholder {
                    color: #adadad;
                }

                &::-moz-placeholder {
                    color: #adadad;
                }
                /* Firefox 19+ */
                &:-moz-placeholder {
                    color: #adadad;
                }
                /* Firefox 18- */
                &:-ms-input-placeholder {
                    color: #adadad;
                }
            }

            button {
                display: block;
                margin: 0 auto;
                width: 307px;
                height: 47px;
                background-color: $red;
                border: none;
                color: #fff;
                font-size: 17px;
                @include proximalight();
                cursor: pointer;
                position: relative;
                left: -29px;
                letter-spacing: 1.3px;
            }
        }
    }

    input.checkbox {
        // display: none;
        opacity: 0;
        position: relative;
        left: -12px;
        top: 7px;
        cursor: pointer;
        z-index: 10;
        height: 28px;
        width: 28px;
    }

    input.checkbox ~ div {
        background: #fff;
        display: inline-block;
        width: 28px;
        height: 28px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 50%;
        // position: relative;
        box-sizing: border-box;
        // margin-top: 10px;
        // top: 8px;
        // margin-left: -50px;
        // margin-right: 10px;
        // vertical-align: middle;
        // background: url(check_radio_sheet.png) left top no-repeat;
        position: absolute;
        top: 129px;
        left: 21px;
    }

    input.checkbox:checked ~ div {
        &:before {
            content: '';
            width: 12px;
            height: 12px;
            background: #e32529;
            border-radius: 50%;
            @include position(absolute, 0 0 0 0);
            margin: auto;
        }
    }

    .checkbox-text {
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 29px;
        display: inline-block;

        a {
            color: #fe0b0b;

            &:hover {
                text-decoration: none;
            }
        }
    }

    #checkbox-error {
        top: 115px;
    }
}

.productions {
    // background: url(../img/footer-waves.jpg) no-repeat 0 153px;
    margin-bottom: 50px;

    .productions-title {
        font-size: 50px;
        text-transform: uppercase;
        @include proximalight();
        padding: 0 179px;
        margin-bottom: 33px;
        z-index: 4;
        position: relative;

        span {
            color: $red;
            display: block;
        }

        b {
            font-size: 20px;
            font-weight: 200;
            position: relative;
            top: -27px;
            color: #cacaca;
        }
    }

    .items {
        padding: 0 139px;

        .item {
            float: left;
            width: 33%;
            text-align: center;
            color: #000;
            text-decoration: none;

            .img-wrap {
                height: 270px;
            }

            .item-name {
                text-align: center;
                @include proximalight();
                font-weight: 400;
                font-size: 21px;
                text-transform: uppercase;
                margin-bottom: 25px;
            }

            .item-disc {
                @include proximalight();
                text-align: center;
                font-size: 15px;
                padding: 0 15px;
                color: #444444;
            }

            img {
                margin-bottom: 12px;
                transition: 0.2s ease;
                transform: scale(0.95);

                &:hover {
                    transform: scale(1);
                    transition: 0.2s ease;
                }
            }

            &:nth-of-type(1) {
                img {
                    position: relative;
                    top: -2px;
                    left: 3px;
                    margin-bottom: 25px;
                }
            }

            &:nth-of-type(2) {
                img {
                    position: relative;
                    top: -16px;
                    left: 17px;
                }

                .item-name {
                    position: relative;
                    // left: 15px;
                }
            }

            &:nth-of-type(3) {
                .img-wrap {
                    img {
                        height: 260px;
                        max-width: none;
                        width: auto;
                    }
                }

                img {
                    position: relative;
                    top: -10px;
                    left: -1px;
                }

                .item-name {
                    position: relative;
                    top: 1px;
                    left: 2px;
                }
            }
        }
    }
}
//Pop UPS
.pop-ups {
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.2;
        display: none;
        z-index: 19;
        top: 0;
    }

    .pop-up {
        position: absolute;
        width: 1390px;
        min-height: 1039px;
        background: url(../img/pop-up-bg.png) no-repeat center;
        background-size: 83%;
        left: 0;
        right: 0;
        // border: 1px solid #000;
        margin: auto;
        z-index: 20;
        display: none;

        .close-pop {
            width: 51px;
            height: 52px;
            position: absolute;
            // right: 18.7%;
            // top: 123px;
            right: 20.7%;
            top: 151px;
            background: url(../img/close-pop.png) no-repeat;
            transition: 0.2s ease;

            &:hover {
                opacity: 0.5;
                transition: 0.2s ease;
            }
        }

        .pop-up-body {
            display: none;
            width: 500px;
            margin: 0 auto;
            @include proximareg();
            padding-left: 4px;
            position: relative;

            .social-btns {
                position: relative;
                top: -2px;

                &:before {
                    content: '';
                    width: 53px;
                    height: 2px;
                    background-color: #fe0b0b;
                    position: absolute;
                    top: -10px;
                    left: 0;
                }

                h3 {
                    font-size: 14px;
                        letter-spacing: -0.1px;
                }

                a {
                    display: inline-block;
                    height: 31px;
                    width: 30px;
                    margin-top: 12px;
                    margin-right: 3px;
                    margin-bottom: 13px;
                    transition: .2s ease;

                    &.fb {
                        background: url(../img/soc-icons.png) no-repeat;
                        background-position: 0 0;
                    }

                    &.ok {
                        background: url(../img/soc-icons.png) no-repeat;
                        background-position: -30px 0;
                    }

                    &.vk {
                        background: url(../img/soc-icons.png) no-repeat;
                        background-position: -60px 0;
                    }

                    &:hover{
                        opacity: 0.6;
                        transition: .2s ease;
                    }
                }
            }

            .title-myth {
                @include proximabold();
                font-size: 181px;
                color: #ffccce;
                display: inline-block;
                position: absolute;
                right: -75px;
                z-index: 1;
                top: -48px;

                &:after {
                    content: '';
                    width: 49px;
                    height: 3px;
                    background-color: $red;
                    @include position(absolute, -12px 11px null null);
                }

                span {
                    @include proximalight();
                    font-size: 38px;
                    text-transform: uppercase;
                    display: block;
                    line-height: 0;
                    text-align: right;
                    @include position(relative, 23px null null -8px);
                }
            }

            .pop-up-title {
                font-size: 35px;
                @include proximalight();
                margin-top: 195px;
                margin-bottom: 24px;
                text-transform: uppercase;
                position: relative;
                z-index: 10;
            }

            .pop-up-section {
                font-size: 16px;
                color: #191919;
                margin-bottom: 20px;
                margin-bottom: 29px;
                position: relative;
                z-index: 10;
                @include proximalight();

                .title-section {
                    color: $red;
                    font-size: 24px;
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin-bottom: 14px;
                }

                &.small-font {
                    font-size: 14px;
                }

                &.links-text {
                    border-top: 1px solid #BDBBBB;
                    color: #BDBBBB;
                    font-size: 14px;
                }
            }

            &.myth-4 {
                .pop-up-title {
                    font-size: 30px;
                    margin-top: 160px;
                }
            }
        }
    }
}

.myth-3 {
    .links-text {
        white-space: nowrap;
    }
}

.myth-4 {
    .pop-up-title {
        font-size: 30px;
        margin-top: 160px;
    }
}

.scroll-down {
    position: fixed;
    width: 38px;
    height: 39px;
    background: url(../img/down-btn.png) no-repeat;
    left: 0;
    right: 0;
    bottom: 32px;
    margin: 0 auto;
    z-index: 19;
    transition: 0.2s ease;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-animation: pulsejg2 4s linear infinite;
        -moz-animation: pulsejg2 4s linear infinite;
        animation: pulsejg2 4s linear infinite;
        border-radius: 99%;
        box-shadow: inset 0 0 0 1px rgba(252, 15, 26, 1);
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-animation: pulsejg3 4s linear infinite;
        -moz-animation: pulsejg3 4s linear infinite;
        animation: pulsejg3 4s linear infinite;
        border-radius: 99%;
        box-shadow: inset 0 0 0 1px rgba(252, 15, 26, 1);
    }

    &.back {
        transform: rotateZ(180deg);
        transition: 0.2s ease;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: 0.1;
    }

    70% {
        transform: scale(1.1);
        opacity: 0.4;
    }

    80% {
        transform: scale(1.5);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: 0.1;
    }

    70% {
        transform: scale(1.1);
        opacity: 0.4;
    }

    80% {
        transform: scale(1.5);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-ms-keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: 0.1;
    }

    70% {
        transform: scale(1.1);
        opacity: 0.4;
    }

    80% {
        transform: scale(1.5);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsejg3 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(.8);
        opacity: 0.05;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 0.1;
    }

    60% {
        -webkit-transform: scale(1.1);
        opacity: 0.3;
    }

    80% {
        -webkit-transform: scale(1.2);
        opacity: 0.1;
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg3 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -moz-transform: scale(.8);
        opacity: 0.05;
    }

    50% {
        -moz-transform: scale(1);
        opacity: 0.1;
    }

    60% {
        -moz-transform: scale(1.1);
        opacity: 0.3;
    }

    80% {
        -moz-transform: scale(1.2);
        opacity: 0.1;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg3 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: 0.05;
    }

    50% {
        transform: scale(1);
        opacity: 0.1;
    }

    60% {
        transform: scale(1.1);
        opacity: 0.3;
    }

    80% {
        transform: scale(1.2);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@-webkit-keyframes pulsejg4 {
    0% {
        -webkit-transform: scale(.1);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(.3);
        opacity: 0.05;
    }

    50% {
        -webkit-transform: scale(.4);
        opacity: 0.1;
    }

    60% {
        -webkit-transform: scale(.6);
        opacity: 0.3;
    }

    80% {
        -webkit-transform: scale(.8);
        opacity: 0.1;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg4 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -moz-transform: scale(.8);
        opacity: 0.05;
    }

    50% {
        -moz-transform: scale(1);
        opacity: 0.1;
    }

    60% {
        -moz-transform: scale(1.1);
        opacity: 0.3;
    }

    80% {
        -moz-transform: scale(1.2);
        opacity: 0.1;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg4 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: 0.05;
    }

    50% {
        transform: scale(1);
        opacity: 0.1;
    }

    60% {
        transform: scale(1.1);
        opacity: 0.3;
    }

    80% {
        transform: scale(1.2);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

footer {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    font-weight: 300;
    width: 100%;

    ul {
        text-align: left;
        list-style-type: none;
    }
}

.child {
    background: url(../img/child.png) no-repeat;
    position: absolute;
    // top: 0;
    // right: 0;
    top: -93px;
    right: 17px;
    width: 556px;
    height: 551px;
    z-index: 1;
}

.test-line {
    top: 335px;
    width: 2766px;
    height: 250px;
    background-clip: content-box;
    background: url(../img/infinite-test.png) repeat-x -228px;
    // background-position: 247.6%;
    position: absolute;
    left: 50%;
    transform: translateX(-35%);
    z-index: 1;
    // -webkit-animation: mymove 15s infinite cubic-bezier(0.42, 0, 0.58, 1);
    // animation: mymove 15s infinite cubic-bezier(0.42, 0, 0.58, 1);
    @media(max-width: 1280px) {
        width: 1280px;
        left: 0;
        transform: none;
    }
}

@keyframes mymove {
    0% {
        background-position: -26%;
        opacity: 1;
    }

    99.9999% {
        background-position: 247.7%;
        opacity: 1;
    }

    100% {
        background-position: -26%;
        opacity: 0;
    }
}

@-webkit-keyframes mymove {
    0% {
        background-position: -26%;
        opacity: 1;
    }

    99.9999% {
        background-position: 247.7%;
        opacity: 1;
    }

    100% {
        background-position: -26%;
        opacity: 0;
    }
}

@media (max-width: 1280px) {
    @keyframes mymove {
        0% {
            background-position: -26%;
            opacity: 1;
        }

        99.9999% {
            background-position: 115.9%;
            opacity: 1;
        }

        100% {
            background-position: -26%;
            opacity: 0;
        }
    }

    @-webkit-keyframes mymove {
        0% {
            background-position: -26%;
            opacity: 1;
        }

        99.9999% {
            background-position: 115.9%;
            opacity: 1;
        }

        100% {
            background-position: -26%;
            opacity: 0;
        }
    }
}

.line-wrap {
    position: relative;
}

.footer-line {
    top: 182px;
    width: 2766px;
    height: 280px;
    background-clip: content-box;
    background: url(../img/infinite-test.png) repeat-x;
    position: absolute;
    left: 0;
    background-position: -538px 0;
    // animation: test 5s cubic-bezier(0.42, 0, 0.58, 1);
    // -webkit-animation: mymove 15s infinite cubic-bezier(0.42, 0, 0.58, 1);
    // animation: mymove 15s infinite cubic-bezier(0.42, 0, 0.58, 1);
    @media(max-width: 1280px) {
        width: 1280px;
        left: 0;
        transform: none;
    }
}

.footer-hint {
    margin-top: 30px;
    width: 100%;
    padding: 13px 0;
    text-transform: uppercase;
    // @include proximareg();
    font-size: 20px;

    .wrap {
        width: 1280px;
        margin: 0 auto;
    }
}

.email-pop {
    border: 10px solid #e32529;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 550px;
    height: 370px;
    background: #fff;
    z-index: 100;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    @include proximalight();
    font-weight: 400;
    padding: 9% 0;
    box-sizing: border-box;
    display: none;

    span {
        color: #e32529;
        display: block;
    }
}
