// fonts variables
@mixin proximareg(){
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin proximabold(){
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin proximalight(){
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
