/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-1-name: 'icon-1';
$icon-1-x: 83px;
$icon-1-y: 0px;
$icon-1-offset-x: -83px;
$icon-1-offset-y: 0px;
$icon-1-width: 34px;
$icon-1-height: 34px;
$icon-1-total-width: 117px;
$icon-1-total-height: 79px;
$icon-1-image: 'sprite.png';
$icon-1: (83px, 0px, -83px, 0px, 34px, 34px, 117px, 79px, 'sprite.png', 'icon-1', );
$icon-2-name: 'icon-2';
$icon-2-x: 38px;
$icon-2-y: 0px;
$icon-2-offset-x: -38px;
$icon-2-offset-y: 0px;
$icon-2-width: 45px;
$icon-2-height: 33px;
$icon-2-total-width: 117px;
$icon-2-total-height: 79px;
$icon-2-image: 'sprite.png';
$icon-2: (38px, 0px, -38px, 0px, 45px, 33px, 117px, 79px, 'sprite.png', 'icon-2', );
$icon-3-name: 'icon-3';
$icon-3-x: 38px;
$icon-3-y: 41px;
$icon-3-offset-x: -38px;
$icon-3-offset-y: -41px;
$icon-3-width: 38px;
$icon-3-height: 34px;
$icon-3-total-width: 117px;
$icon-3-total-height: 79px;
$icon-3-image: 'sprite.png';
$icon-3: (38px, 41px, -38px, -41px, 38px, 34px, 117px, 79px, 'sprite.png', 'icon-3', );
$icon-4-name: 'icon-4';
$icon-4-x: 0px;
$icon-4-y: 0px;
$icon-4-offset-x: 0px;
$icon-4-offset-y: 0px;
$icon-4-width: 38px;
$icon-4-height: 41px;
$icon-4-total-width: 117px;
$icon-4-total-height: 79px;
$icon-4-image: 'sprite.png';
$icon-4: (0px, 0px, 0px, 0px, 38px, 41px, 117px, 79px, 'sprite.png', 'icon-4', );
$icon-5-name: 'icon-5';
$icon-5-x: 0px;
$icon-5-y: 41px;
$icon-5-offset-x: 0px;
$icon-5-offset-y: -41px;
$icon-5-width: 38px;
$icon-5-height: 38px;
$icon-5-total-width: 117px;
$icon-5-total-height: 79px;
$icon-5-image: 'sprite.png';
$icon-5: (0px, 41px, 0px, -41px, 38px, 38px, 117px, 79px, 'sprite.png', 'icon-5', );
$spritesheet-width: 117px;
$spritesheet-height: 79px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-1, $icon-2, $icon-3, $icon-4, $icon-5, );
$spritesheet: (117px, 79px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
