img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

/* responsive text align
-----------------------------------------------------------------------------*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.right{
  float: right;
}

.left{
  float: left;
}


$red: #fe0b0b;

.red{
  color: $red;
}
