<a href="#" class="scroll-down"></a>

<div class="pop-ups">
  <div class="overlay"></div>
  <div class="email-pop">
    <span>СПАСИБО!</span> НА ВАШ E-MAil отправлено письмо
  </div>
  <div class="pop-up">
    <a href="#" class="close-pop js-close-pop"></a>
    <div class="pop-up-body myth-1">
      <div class="title-myth">
        <span>миф</span> 01
      </div>
      <h2 class="pop-up-title">
                Крем забьет все поры <br>
                и кожа не будет дышать!
            </h2>

      <div class="pop-up-section">
        Нормальное функционирование и здоровый внешний вид кожи поддерживается главным образом достаточной увлажненностью кожи, и это сегодня знают и понимают все мамы и папы. Но что произойдет, если просто помыть малыша водой? Через несколько минут жидкость
        испарится с поверхности кожи, не оставив и следа. Задержать потерю такой важной для малыша влаги помогает кожное сало, покрывающее поверхность кожи. Представьте себе теплицу, достаточная влажность в которой обеспечивается «защитной пленкой». Но
        у маленьких детей сальные железы еще недостаточно развиты, и частым гостем, особенно при неправильной гигиене (использование мыла), становится сухость кожи. Для удержания влаги в состав кремов входят масла и липиды, которые как раз выполняют функцию
        кожного сала, помогая задерживать потерю влаги, а заодно и смягчают кожу крохи, устраняя шелушение и зуд.
        <br>
        <br> Поэтому не стоит бояться косметических средств, нужно только научиться правильно их использовать: наносить на чистую кожу малыша после купания и не забывать о регулярных гигиенических процедурах.
      </div>

      <div class="social-btns">
          <h3>Расскажи друзьям – развей мифы о детской кожи!</h3>
          <a href="#" class="fb"></a>
          <a href="#" class="ok"></a>
          <a href="#" class="vk"></a>
      </div>
      <div class="pop-up-section links-text">
        SARU.EMO.16.02.0167
      </div>


    </div>

    <div class="pop-up-body myth-2">
      <div class="title-myth">
        <span>миф</span> 02
      </div>
      <h2 class="pop-up-title">
                Мой малыш станет зависим от увлажняющих средств
            </h2>

      <div class="pop-up-section">
        Внимательные мамы знают, что детская кожа более чувствительна и нуждается в особом уходе. В то же время существует мнение, что следует как можно дольше отказываться от использования детских косметические средств. Якобы кожа может привыкнуть получать все
        необходимые питательные вещества извне и перестанет вырабатывать их самостоятельно.
        <br>
        <br> В реальности, кожа младенца в силу незрелости (кожные структуры, железы у малыша продолжают формироваться после рождения) может быть не способна сама выделять необходимое количество липидов (жиров), в результате чего ей становится трудно удерживать
        влагу во внутренних слоях <sup>1</sup>, что ведет к сухости. В этом случае важно помочь коже малыша восстановить водно-липидный баланс и сохранить свои защитные функции до момента, пока все не наладится<sup>2</sup>. Для этого педиатры советуют
        применять детские увлажняющие кремы
      </div>
      <div class="social-btns">
          <h3>Расскажи друзьям – развей мифы о детской кожи!</h3>
          <a href="#" class="fb"></a>
          <a href="#" class="ok"></a>
          <a href="#" class="vk"></a>
      </div>
      <div class="pop-up-section links-text">
        <div><sup>1</sup>Сухая кожа. Под ред. Е.И. Эрнандес. М.: Косметика и медицина. 2012. 152 с.</div>
        <div> <sup>2</sup> Инструкция по применение косметического средства Эмолиум</div>
        SARU.EMO.16.02.0167
      </div>

    </div>

    <div class="pop-up-body myth-3">
      <div class="title-myth">
        <span>миф</span> 03
      </div>
      <h2 class="pop-up-title">
                Мочевина в составе крема – это плохо
            </h2>

      <div class="pop-up-section">
        Разумом мы понимаем, что множество профессиональных косметических средств эффективны как раз за счет мочевины в своем составе. Но исключительно на эмоциональном уровне нас может пугать перспектива использовать в уходе за ребенком «что-то, относящееся
        к моче». Это предубеждение легко преодолеть.
        <br>
        <br> Во-первых, мочевина – продукт конечного распада белков, она есть во всем нашем организме и, в том числе, заботится об увлажнении кожи. Во-вторых, изначально мочевину удалось выделить, действительно, из мочи, однако сегодня её синтезируют искусственно,
        так что отношение этого вещества к продуктам выделительной системы – скорее ассоциативное.
        <br>
        <br> Даже искусственная мочевина остается одним из самых естественных продуктов для нашего организма и кожи. Это важный проводник, который позволяет всем активным веществам проникать в кожу. Мочевина размягчает пересушенные участки кожи и удерживает
        влагу в толще рогового слоя кожи<sup>1</sup>.
      </div>
      <div class="social-btns">
          <h3>Расскажи друзьям – развей мифы о детской кожи!</h3>
          <a href="#" class="fb"></a>
          <a href="#" class="ok"></a>
          <a href="#" class="vk"></a>
      </div>
      <div class="pop-up-section links-text">
        <div><sup>1</sup> Сухая кожа. Под ред. Е.И. Эрнандес. М.: Косметика и медицина. 2012. 152 с.</div>
        SARU.EMO.16.02.0167
      </div>
    </div>

    <div class="pop-up-body myth-4">
      <div class="title-myth">
        <span>миф</span> 04
      </div>
      <h2 class="pop-up-title">
                Крем «как в моем детстве» подойдет и моему малышу, а все болезни надо лечить травками
            </h2>

      <div class="pop-up-section small-font">
        Жестяной тюбик «из детства» с симпатичной зверюшкой или узнаваемым шрифтом подсознательно вызывает доверие – ведь это то, что использовали наши мамы и бабушки! Однако если откинуть сентиментальные и ностальгические чувства, и трезво взглянуть на его состав,
        оптимизма по поводу его полезности поубавиться: обычно такой крем состоит, в основном, из парафинового масла, силиконов и глицерина. К тому же, с большой вероятностью вы обнаружите там отдушки и красители, которые могут спровоцировать не только
        воспоминания из детства у вас, но и аллергическую реакцию у вашего малыша. Медицина и косметология ушли далеко вперед, и стандарты, в соответствии с которыми выпускались крема во времена нашего детства, безнадежно устарели.
        <br>
        <br> Также аллергию и другие неприятные реакции могут спровоцировать различные «травки» – это только кажется, что они безобидные и не способны навредить, особенно малышам с атопическим дерматитом и аллергией.Применять травы на постоянной основе и
        без назначения врача – довольно опрометчиво.
        <br>
        <br> Оптимальный вариант – подобрать комплекс специально разработанных косметических средств, которые бы подходили именно вашему малышу. Современные средства способны устранять конкретную проблему кожи и предотвращать появление новых источников для
        беспокойства.
      </div>
      <div class="social-btns">
          <h3>Расскажи друзьям – развей мифы о детской кожи!</h3>
          <a href="#" class="fb"></a>
          <a href="#" class="ok"></a>
          <a href="#" class="vk"></a>
      </div>
      <div class="pop-up-section links-text">
        SARU.EMO.16.02.0167
      </div>
    </div>

    <div class="pop-up-body myth-5">
      <div class="title-myth">
        <span>миф</span> 05
      </div>
      <h2 class="pop-up-title">
                Крем забьет все поры <br>
                и кожа не будет дышать!
            </h2>

      <div class="pop-up-section small-font">
        Многие мамы считают, что при отсутствии проблем с кожей у ребенка не стоит использовать детские косметические средства. Но так ли это на самом деле?
        <br>
        <br> У нашей кожи – множество функций: она защищает организм от внешних воздействий – начиная от механических повреждений, и заканчивая бактериями и воздействиями окружающей среды, она отвечает за дыхание, терморегуляцию и обменные процессы. В городской
        среде загрязненный воздух, высокое количество аллергенов и центральное отопление вмешиваются в эти процессы, кожа теряет «защитный цемент» (т.е. влагу и липиды),за счет чего кожа, а вслед за этим и сам малыш, становятся более уязвимыми <sup>1</sup>.
        <br>
        <br> Поэтому даже если сейчас вашего розовощекого кроху хоть в рекламе подгузников снимать, это не значит, что его кожа не нуждается в дополнительной защите в долгосрочной перспективе. Увлажняющий крем с хорошим составом легко впитывается и заполняет
        «липидные просветы». Такое средство компенсирует негативные факторы, кожа маленького получает уход в нужном объеме и остается здоровой <sup>2</sup>.
      </div>
      <div class="social-btns">
          <h3>Расскажи друзьям – развей мифы о детской кожи!</h3>
          <a href="#" class="fb"></a>
          <a href="#" class="ok"></a>
          <a href="#" class="vk"></a>
      </div>
      <div class="pop-up-section links-text">
        <!-- <div><sup>1</sup> Кочергин Н.Г. Кожный барьер, ксероз и купероз. Российский Аллергологический Журнал.2013;6:9-12
        </div> -->
        <div><sup>1</sup> Кочергин Н.Г. Кожный барьер, ксероз и купероз. Российский Аллергологический Журнал.2013;6:9-12</div>
        <div><sup>2</sup> Инструкция по применение косметического средства Эмолиум</div>
        SARU.EMO.16.02.0167
      </div>
    </div>
  </div>
</div>

<div class="red-line"></div>
<div class="test-line"></div>
<div class="container head-wrap">
  <div class="child"></div>
  <div class="head-title">
    <div class="title-main">
      <span class="red">РАСПРОСТРАНЕННЫЕ </span>
      <br> МИФЫ О ДЕТСКОЙ КОЖЕ
    </div>
    <div class="sub-title">
      Когда вы становитесь родителями, степень вашей доверчивости ко всякого рода мифам растет в геометрической прогрессии. Пока ребенок умещается от локтя до ладони, у всех страхов глаза велики: все ли вы делаете правильно? Что с ним не так? Что с вами не
      так? Что делать и куда бежать? Во-первых, успокойтесь. Вы – лучшие родители для своего крохи. Во-вторых, вы не можете и не должны знать обо всем на свете – в некоторых вопросах лучше довериться опыту специалистов. Например, в вопросе здорового состояния
      кожи вашего малыша. Благодаря нашей многолетней экспертизе в уходе за самой нежной и требовательной кожей, мы поможем развенчать 5 самых распространенных мифов в этой области.
    </div>
  </div>
  <div class="red-line-btns">
    <div class="myth myth-1">
      <a href="#myth-1" class="js-scroll rnd-btn"></a>
      <a href="#myth-1" class="js-scroll title-link">Миф 1</a>
      <span class="myth-disc">Крем забьет все поры и кожа <br>
      не будет дышать!</span>
    </div>

    <div class="myth myth-2">
      <a href="#myth-2" class="js-scroll rnd-btn"></a>
      <a href="#myth-2" class="js-scroll title-link">Миф 2</a>
      <span class="myth-disc">Мой малыш станет зависим <br> от увлажняющих средств</span>
    </div>

    <div class="myth myth-3">
      <a href="#myth-3" class="js-scroll rnd-btn"></a>
      <a href="#myth-3" class="js-scroll title-link">Миф 3</a>
      <span class="myth-disc">Мочевина в составе <br> крема – это плохо</span>
    </div>

    <div class="myth myth-4">
      <a href="#myth-4" class="js-scroll rnd-btn"></a>
      <a href="#myth-4" class="js-scroll title-link">Миф 4</a>
      <span class="myth-disc">Крем «как в моем <br> детстве» подойдет <br> и моему малышу,
        <br> а все болезни надо <br> лечить травками</span>
    </div>

    <div class="myth myth-5">
      <a href="#myth-5" class="js-scroll rnd-btn"></a>
      <a href="#myth-5" class="js-scroll title-link">Миф 5</a>
      <span class="myth-disc">У моего малыша <br> прекрасная кожа, <br> поэтому ей ничего <br> не нужно</span>
    </div>
  </div>
</div>

<div class="container myths">
  <section class="myth-section" id="myth-1">
    <div class="title-myth js-show-pop-up" data-myth="myth-1">
      <span>миф</span> 01

    </div>
    <div class="sub-title-myth">
      Крем забьет
      <br> все поры и кожа
      <br> не будет дышать!
      <br>
    </div>
    <div class="image-myth-zoom">
      <img src="img/child-1-new.jpg" alt="" class="js-show-pop-up" data-myth="myth-1">
    </div>

    <a href="#" class="show-true js-show-pop-up" data-visited="false" data-myth="myth-1">УЗНАТЬ ПРАВДУ</a>
    <a href="#" class="right-image js-show-pop-up" data-myth="myth-1">
      <img src="img/section-obj-1.jpg" alt="">
    </a>
  </section>

  <section class="myth-section" id="myth-2">
    <a href="#" class="right-image js-show-pop-up" data-myth="myth-2">
      <img src="img/section-obj-2.png" alt="">
    </a>
    <div class="sub-title-myth">
      Мой малыш станет зависим
      <br> от увлажняющих средств
      <a href="#" class="show-true js-show-pop-up" data-visited="false" data-myth="myth-2">УЗНАТЬ ПРАВДУ</a>
    </div>
    <div class="title-myth js-show-pop-up" data-myth="myth-2">
      <span>миф</span> 02
    </div>
  </section>

  <section class="myth-section" id="myth-3">
    <div class="title-myth js-show-pop-up" data-myth="myth-3">
      <span>миф</span> 03
    </div>
    <div class="sub-title-myth">
      Мочевина в составе
      <br> крема – это
      <br> плохо
      <a href="#" class="show-true js-show-pop-up" data-visited="false" data-myth="myth-3">УЗНАТЬ ПРАВДУ</a>

    </div>
    <a href="#" class="right-image js-show-pop-up" data-myth="myth-3">
      <img src="img/section-obj-3.jpg" alt="">
    </a>

  </section>

  <section class="myth-section" id="myth-4">
    <a href="#" class="left-image js-show-pop-up" data-myth="myth-4">
      <img src="img/section-obj-4.jpg" alt="">
    </a>
    <div class="title-myth js-show-pop-up" data-myth="myth-4">
      <span>миф</span> 04
    </div>
    <div class="sub-title-myth">
      Крем «как в моем детстве»
      <br> подойдет и моему малышу,
      <br> а все болезни надо
      <br> лечить травками

      <a href="#" class="show-true js-show-pop-up" data-visited="false" data-myth="myth-4">УЗНАТЬ ПРАВДУ</a>
    </div>
  </section>

  <section class="myth-section" id="myth-5">
    <div class="title-myth js-show-pop-up" data-myth="myth-5">
      <span>миф</span> 05
    </div>
    <div class="sub-title-myth">
      У моего малыша
      <br> прекрасная кожа,
      <br> поэтому ей ничего
      <br> не нужно

      <a href="#" class="show-true js-show-pop-up" data-visited="false" data-myth="myth-5">УЗНАТЬ ПРАВДУ</a>
    </div>
    <a class="js-show-pop-up image-myth-zoom" data-myth="myth-5">
      <img src="img/child-2-new.jpg" alt="">
    </a>

  </section>
</div>

<!-- //Game section -->
<div class="container game" id="game">
  <div class="game-title">
    <span>
      ПУТЕШЕСТВИЕ
    </span> НА ПОВЕРХНОСТЬ КОЖИ
  </div>

  <div class="game-form">
    <div class="form-title">Игра скоро будет готова</div>

    <div class="form-label">
      ОСТАВЬТЕ СВОЙ E-MAIL,
      <br> И МЫ ВЫШЛЕМ ВАМ ПРИГЛАШЕНИЕ
    </div>
    <form action="" class="email-form">
      <input type="text" class="email-input" placeholder="ВАШ E-MAIL" name="email">
      <button type="submit" name="button">ДЕРЖИТЕ МЕНЯ В КУРСЕ</button>
      <input type="checkbox" name="checkbox" id="c1" class="checkbox">
      <div></div>
      <label for="c1"></label>
      <span class="checkbox-text">Ознакомился и согласен с условиями <a href="#">Официального</a> уведомления</span>
    </form>

  </div>
</div>

<!-- // Items productions // section -->
<div class="line-wrap">
  <div class="footer-line"></div>
</div>
<div class="container productions" id="productions">
  <div class="productions-title">
    <span>
       Подберите оптимальный уход за кожей вашего малыша
    </span> с 1-х дней жизни <b>*</b>
  </div>

  <div class="items ">
    <a href="#" class="item">
      <div class="img-wrap">

        <img src="img/item-1.png" alt="Базовая серия" width="251" title="Базовая серия" />
      </div>
      <div class="item-name">
        Базовая серия
      </div>
      <div class="item-disc">
        Базовая: подходит для ежедневной заботы за нежной кожей малыша
        <!-- Базовая серия идеально подходит для ежедневной заботы за нежной кожей малыша, которая нуждается в особом уходе - увлажнении, смягчении и восстановлении защитного липидного слоя. -->
      </div>
    </a>
    <a href="#" class="item">
      <div class="img-wrap">
        <img src="img/item-2.png" alt="Специальная серия" width="233" title="Специальная серия" />
      </div>
      <div class="item-name">
        Специальная серия
      </div>
      <div class="item-disc">
        Специальная: подходит для ухода за сухой и поврежденной кожей
        <!-- Специальная серия Эмолиум подходит для ухода за сухой и поврежденной кожей, в том числе в периоды сезонного обострения сухости, после длительного пребывания на солнце и для ухода за кожей при ремиссии утопического дерматита. -->
      </div>
    </a>
    <a href="#" class="item">
      <div class="img-wrap">
        <img src="img/item-3.png" alt="Триактивная серия" width="169" title="Триактивная серия" />
      </div>
      <div class="item-name">
        Триактивная серия
      </div>
      <div class="item-disc">
        Триактивная: рекомендована для ухода за очень сухой, склонной к атопии кожей
        <!-- Триактивная серия Эмолиум рекомендована для ухода за очень сухой, склонной к утопии кожей. Подходит для комплексного применения и ухода совместно с гормональными препаратами, позволяя уменьшить длительность их применения и выраженность побочных эффектов. -->
      </div>
    </a>
    <br clear="all">
  </div>
</div>
