<footer>
  <div class="container">
    <div class="footer-links">
      <ul>
        <li>* Шампунь и Эмульсия для сухой кожи головы разрешены к применению с 1-го месяца жизни, Триактивная эмульсия для купания – с 3-х месяцев</li>
        <!-- <li><sup>1</sup> Сухая кожа. Под ред. Е.И. Эрнандес. М.: Косметика и медицина. 2012. 152 с.</li>
        <li><sup>2</sup> Инструкция по применение косметического средства Эмолиум</li>
        <li><sup>3</sup> Кочергин Н.Г. Кожный барьер, ксероз и купероз. Российский Аллергологический Журнал.2013;6:9-12</li> -->
      </ul>
      <br>
    </div>
  </div>
  <div class="container">
    25009, Москва, ул.Тверская, д.22, тел: +7 495 721-14-00,
    <br>
    <a href="http://www.emolium.ru" target="_blank">www.emolium.ru</a> © 2015. Представительство АО «Санофи-авентис груп» (Франция), г.Москва. ВСЕ ПРАВА ЗАЩИЩЕНЫ
    <span class="right">SARU.EMO.16.02.0280</span>
  </div>
  <div class="footer-hint">
    <div class="wrap">
      АДАПТИРОВАНО ИЗ ИНФОРМАЦИИ, УКАЗАННОЙ НА УПАКОВКЕ, НЕ ЯВЛЯЕТСЯ ЛЕКАРСТВЕННЫМ СРЕДСТВОМ
    </div>
  </div>
</footer>
