<header id="header" class="wrapper header">
  <div class="container">
    <a href="http://www.emolium.ru/" target="_blank" class="logo left">
      <img src="img/logo.jpg" alt="emolium logo" title="emolium logo">
    </a>

    <a href="http://www.sanofi.ru/" target="_blank" class="logo right">
      <img src="img/sanofi-logo.png" alt="emolium logo" title="emolium logo">
    </a>

    <div class="menu">
      <ul>
        <li><a class="js-scroll" href="#myth-1">МИФЫ О ДЕТСКОЙ КОЖЕ</a></li>
        <li><a class="js-scroll" href="#game">путешествие на поверхность кожи</a></li>
        <li><a class="js-scroll" href="#productions">уход за кожей</a></li>
      </ul>
    </div>

    <div class="sub-title-main">
        Профессиональная косметика <br>
        против сухости кожи с 1-х дней жизни*
    </div>
  </div>
</header>
